<div class="container">
    <h2>Forget password</h2>
    <div [formGroup]="form">
      <mat-dialog-content>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Set email"
            formControlName="email"
            #title
          />
        </mat-form-field>
        <br />
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Cancel</button>
        <button mat-raised-button (click)="sendMail()">Send email with new password</button>
      </mat-dialog-actions>
    </div>
  </div>
  